p{
    font-size: 16px;
}
body{
    background: url("images/pngwing.com.png") no-repeat #F1F2F6 center top;
    background-size: cover;
    text-align:justify;
}
img{
    height: 600px;
    width: 320px;
    float: right;
}